@model List<Library.Models.libro>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Editorial</th>
            <th>Idioma</th>
            <th>Año</th>
            <th>Numero de paginas</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Library.Models.libro item in Model)
        {
            <tr>
                <td>@item.titulo</td>
                <td>@item.autor.nombres @item.autor.apellidos</td>
                <td>@item.editorial</td>
                <td>@item.idioma.idioma1</td>
                <td>@item.año</td>
                <td>@item.num_paginas</td>
            </tr>
        }
    </tbody>
</table>